@model SHOWROOMMANAGER.Models.Showroom

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Showroom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.showroom_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showroom_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.showroom_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showroom_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.showroom_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.showroom_address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.showroom_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
